window {
  background: #222222;
  border: 2px solid #444444;
  border-radius: 5px;
  padding: 5px;
}

listview {
  margin: 5px;
}

listitem {
  padding: 6px;
  border-radius: 3px;
}

listitem:selected {
  background: #005577;
  color: #ffffff;
}

textbox {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #444444;
  border-radius: 3px;
}
